html {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

.masthead {
  padding: 1em;
  background: #000531 url("../img/nebula.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}

.masthead-planets {
  background-image: url("../img/nebula-2.jpg");
}

.current {
  background: #000531;
  color: white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav > li {
  display: inline-block;
}

.nav-top {
  font-size: 1.25rem;
}
